
.roxo{
   background: linear-gradient(to right, #B32E87 0%, #903CA8 50%, #637BE5 100%);
}
.botao{
   background-color: #6904C2;
   color: white
}
.card{
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(8px);
}