<nav class="navbar fixed-top fundo" data-bs-theme="dark" >
  <div class="container-fluid">
    <a>
      <img class="logo" src="../assets/Modern_Typography_Technology_Logo__2_-removebg-preview.png" [routerLink]="['']" alt="">
    </a>
    <button class="navbar-toggler a" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Empresa QTX</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/departamentos']">Departamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/funcionarios']">Funcionários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/fornecedores']">Fornecedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/clientes']">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/empresa']">Empresa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/projetos']">Projetos</a>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <!-- É no router-outlet que os componentes acessados pelas rotas são renderizados. -->
  <router-outlet></router-outlet>
</div>